body {
  font-family: "Russo One", sans-serif;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* reset end */

.container {
  min-width: 320px;
  max-width: 331px;
  /* padding-top: 31px;
  padding-bottom: 44px; */
  padding: 0 23px;
  margin: 0 auto;
  outline: 1px solid red;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1028px;
    padding: 0 53px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1539px;
    padding: 0 48px;
  }
}
/* <!-- block 1 - hero --> */

.hero,
.prices,
.advantages {
  background-color: #333087;
  color: #fff;
}
.hero {
  padding-top: 31px;
  padding-bottom: 44px;

  background-image: url("/images/stars.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  width: 185px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 247px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    width: 345px;
  }
}

.blanket1 {
  width: 283px;
  margin: 0 auto;
}

.blanket2 {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-container {
    height: 600px;
    position: relative;
  }

  .blanket1 {
    width: 521px;
    position: absolute;
    /* left: 0; */
    bottom: 0;
    z-index: 2;
  }
  .blanket2 {
    display: block;
    width: 619px;
    position: absolute;
    left: 300px;
    bottom: 20px;
    z-index: 1;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    height: 873px;
    position: relative;
  }
  .blankets-sample {
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
  }

  .blanket1 {
    width: 750px;
  }
  .blanket2 {
    width: 891px;
    left: 546px;
  }
}

.hero-title {
  font-size: 8px;
}

.hero-title-main {
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero-logo {
    display: flex;
    align-items: center;
  }
  .hero-title {
    font-size: 13px;
  }
  .hero-title-main {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 40px;
  }
  .hero-title-main {
    font-size: 53px;
  }
}

/* <!-- block 2 - advantages --> */
.advantages {
  padding-bottom: 46px;
}

.list-adv {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 47px;
}
.item-adv {
  text-align: center;
}

.advantages-title {
  font-size: 8px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.advantages-description {
  font-size: 7px;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 37px;
  }
  .advantages-title {
    font-size: 12px;
    text-transform: none;
    margin-bottom: 31px;
  }
  .advantages-description {
    font-size: 9px;
  }
  .list-adv {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 200px;
  }
  .item-adv {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 76px;
  }
  .advantages-title {
    font-size: 33px;
    margin-bottom: 37px;
  }
  .advantages-description {
    font-size: 24px;
  }
}

/* <!-- block 3 - consist-- >  */

.consist-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 31px;
  flex-wrap: wrap;
}
.consist-title-list {
  text-align: center;
  font-size: 8px;
  color: #e27601;
}
.consist-description {
  text-align: center;
  font-size: 6px;
}
.consist-image {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .consist-list {
    width: 100%;
    flex-direction: row;
    gap: 0;
  }
  .consist-item {
    display: flex;
    align-items: center;
  }
  .consist-item:nth-child(even) .consist-image {
    order: 2;
    margin-right: 0;
    margin-left: 37px;
  }

  .consist-title-list {
    text-align: start;
    font-size: 11px;
  }
  .consist-description {
    text-align: start;
    font-size: 9px;
    width: auto;
  }
  .consist-image {
    width: 323px;
    margin-right: 37px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .consist-title-list {
    font-size: 40px;
  }
  .consist-description {
    font-size: 24px;
  }
  .consist-image {
    width: 501px;
    margin-right: 60px;
  }
  .consist-item:nth-child(even) .consist-image {
    margin-right: 0;
    margin-left: 60px;
  }
}

/* <!-- block 4 - prices-- >  */

.prices {
  background-image: url("/images/stars&clouds.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.prices-table {
  display: none;
}
.container-prices {
  padding-top: 37px;
  padding-bottom: 101px;
}
@media screen and (min-width: 768px) {
  .prices-table {
    display: block;
    margin-bottom: 64px;
  }
  .container-prices {
    padding-top: 54px;
    padding-bottom: 265px;
  }
  .prices-title {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 35px;
    text-align: center;
  }
  .sample-list {
    margin-bottom: 54px;
  }
  .sample-list,
  .characteristics-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
  }
  .sample-title {
    font-size: 11px;
    text-align: center;
    margin-top: 29px;
  }
  .table-cells-prices {
    background-color: #e27601;
    width: 453px;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    border-radius: 5px;
    font-size: 9px;
  }
  .item-characteristics-prices {
    margin-bottom: 20px;
  }
  .title-characteristics-prices {
    color: #e27601;

    font-size: 9px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .container-prices {
    padding-top: 77px;
    padding-bottom: 343px;
  }
  .prices-table {
    margin-bottom: 78px;
  }
  .sample-list {
    margin-bottom: 49px;
  }
  .sample-title {
    font-size: 33px;
    margin-top: 37px;
  }
  .prices-title {
    font-size: 49px;
    text-transform: uppercase;
    margin-bottom: 56px;
  }
  .table-cells-prices {
    width: 710px;
    padding-top: 34px;
    padding-bottom: 34px;
    font-size: 24px;
  }
  .title-characteristics-prices {
    font-size: 27px;
    margin-bottom: 19px;
  }
  .item-characteristics-prices {
    margin-bottom: 19px;
  }
}

.logo-smart {
  font-size: 12px;
}
.tagline {
  text-align: center;
  font-size: 8px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .tagline {
    font-size: 12px;
  }
  .logo-smart {
    font-size: 16px;
  }
  .blanket1-price {
    width: 381px;
  }
  .blanket3-price {
    width: 401px;
  }
}
@media screen and (min-width: 1200px) {
  .tagline {
    font-size: 33px;
  }
  .logo-smart {
    font-size: 47px;
  }
  .blanket1-price {
    width: 566px;
  }
  .blanket3-price {
    width: 607px;
  }
}
